@using PrOjEkT2.Models
@model Svecenik
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Novi)
{
    <h2 class="mb-4">Dodavanje Svecenika</h2>
}
else
{
    <h2 class="mb-4">Azuriranje podataka o Sveceniku</h2>
    <h3>@Model.Ime</h3>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                @if (!ViewBag.Novi)
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Id, new { disabled = "true" })
                }
                <label class="form-label">@Html.DisplayNameFor(model => model.Ime)</label>
                @Html.TextBoxFor(model => model.Ime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.Prezime)</label>
                @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label class="form-label">@Html.DisplayNameFor(model => model.crkva)</label>
                @Html.TextBoxFor(model => model.crkva, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.crkva, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.ValidationSummary(true, "Spremanje nije uspjelo!", new { @class = "alert alert-danger mt-3" })
    <button type="submit" class="btn btn-primary">Spremi</button>
    @Html.ActionLink("Povratak bez spremanja", "Popis", "Svecenik", new { @class = "btn btn-secondary" })
}
